#site-body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(217,229,233,1) 0%, rgba(0,212,255,1) 100%); 
}

.card img {
    width: 100%;
}

.card {
    border: none;
}

.card .card-body {
    padding: 9px;
}